<div class="container">
    <section id="create-tour-hero">
        <a routerLink="/">
            <img ngSrc="app/assets/svg/logo.svg" width="64" height="56" alt="logo" />
        </a>
        <h1>Plan a new Tour!</h1>
    </section>
    <section id="create-tour-form">
        <form>
            <div class="error-label">
                <label class="bold">Error</label>
                <p>Error Message</p>
            </div>
            <div class="name-description-input">
                <div class="input">
                    <img ngSrc="app/assets/svg/map.svg" alt="map" width="32" height="32" />
                    <div class="label-input">
                        <label for="name" class="bold">Name</label>
                        <input id="name" type="text" />
                    </div>
                </div>
                <div class="input">
                    <img ngSrc="app/assets/svg/pencil.svg" alt="pencil" width="32" height="32" />
                    <div class="label-input">
                        <label for="description" class="bold">Description</label>
                        <input id="description" type="text" />
                    </div>
                </div>
            </div>
            <div class="address-input">
                <p>From:</p>
                <div class="street-name-street-number-input">
                    <div class="input">
                        <img ngSrc="app/assets/svg/street.svg" alt="street" width="41" height="32" />
                        <div class="label-input">
                            <label for="street-name" class="bold">Street name</label>
                            <input id="street-name" type="text" />
                        </div>
                    </div>
                    <div class="input">
                        <label for="street-number" class="bold">Street number</label>
                        <input id="street-number" type="text" />
                    </div>
                </div>
                <div class="city-zip-code-input">
                    <div class="input">
                        <img ngSrc="app/assets/svg/houses.svg" alt="houses" width="36" height="32" />
                        <div class="label-input">
                            <label for="city" class="bold">City</label>
                            <input id="city" type="text" />
                        </div>
                    </div>
                    <div class="input">
                        <label for="zip-code" class="bold">Zip code</label>
                        <input id="zip-code" type="text" />
                    </div>
                </div>
                <div class="input">
                    <img ngSrc="app/assets/svg/flag.svg" alt="flag" width="28" height="32" />
                    <div class="label-input">
                        <label for="transport-type" class="bold">Country</label>
                        <input id="transport-type" type="text" />
                    </div>
                </div>
            </div>
            <div class="address-input">
                <p>To:</p>
                <div class="street-name-street-number-input">
                    <div class="input">
                        <img ngSrc="app/assets/svg/street.svg" alt="street" width="41" height="32" />
                        <div class="label-input">
                            <label for="street-name" class="bold">Street name</label>
                            <input id="street-name" type="text" />
                        </div>
                    </div>
                    <div class="input">
                        <label for="street-number" class="bold">Street number</label>
                        <input id="street-number" type="text" />
                    </div>
                </div>
                <div class="city-zip-code-input">
                    <div class="input">
                        <img ngSrc="app/assets/svg/houses.svg" alt="houses" width="36" height="32" />
                        <div class="label-input">
                            <label for="city" class="bold">City</label>
                            <input id="city" type="text" />
                        </div>
                    </div>
                    <div class="input">
                        <label for="zip-code" class="bold">Zip code</label>
                        <input id="zip-code" type="text" />
                    </div>
                </div>
                <div class="input">
                    <img ngSrc="app/assets/svg/flag.svg" alt="flag" width="28" height="32" />
                    <div class="label-input">
                        <label for="transport-type" class="bold">Country</label>
                        <input id="transport-type" type="text" />
                    </div>
                </div>
            </div>
            <div class="input">
                <img ngSrc="app/assets/svg/car.svg" alt="car" width="43" height="32" />
                <div class="label-input">
                    <label for="transport-type" class="bold">Transport type</label>
                    <select>
                        <option>Bike</option>
                        <option>Hike</option>
                        <option>Running</option>
                        <option>Vacation</option>
                    </select>
                </div>
            </div>
            <button type="button">
                <img ngSrc="app/assets/svg/plus.svg" alt="plus" width="32" height="32" />
                <h6>Create</h6>
            </button>
        </form>
    </section>
</div>
