<div class="container">
    <section id="create-tour-hero">
        <a routerLink="/">
            <img ngSrc="app/assets/svg/logo.svg" width="64" height="56" alt="logo" />
        </a>
        <h1>Plan a new Tour!</h1>
    </section>
    <section id="create-tour-form">
        <form>
            <div class="error-label">
                <label class="bold">Error</label>
                <p>Error Message</p>
            </div>
            <div class="name-description-input">
                <div class="input">
                    <img ngSrc="app/assets/svg/map.svg" alt="map" width="32" height="32" />
                    <div class="label-input">
                        <label for="name" class="bold">Name</label>
                        <input id="name" type="text" />
                    </div>
                </div>
                <div class="input">
                    <img ngSrc="app/assets/svg/pencil.svg" alt="map" width="32" height="32" />
                    <div class="label-input">
                        <label for="description" class="bold">Description</label>
                        <input id="description" type="text" />
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
