.container {
    display: flex;
    flex-direction: row;
    gap: 96px;
    padding: 32px 48px;
}

section#sidebar {
    width: 100%;
}

section#tour-logs {
    width: 100%;
}

/* Sidebar */
/* Tour information */
div.tour-information {
    margin-bottom: 64px;
}

div.tour-information div.header > a {
    display: inline-block;
    margin-bottom: 32px;
}

div.tour-information h1 {
    margin-bottom: 16px;
}

div.tour-information div.header {
    margin-bottom: 64px;
}

div.from-container,
div.to-container,
div.tour-distance-container,
div.time-container {
    margin-bottom: 32px;
}

div.from-container,
div.to-container,
div.tour-distance-container,
div.time-container,
div.transport-type-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Buttons */
div.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Search bar */
search-bar {
    display: block;
    margin-bottom: 32px;
}

/* Tour log list */
div.tour-log-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
