<div class="container">
    <section id="sidebar">
        @if (tour$ | async; as tour) {
            <div class="tour-information">
                <div class="header">
                    <a routerLink="/"
                        ><img ngSrc="app/assets/svg/logo.svg" width="64" height="56" alt="logo"
                    /></a>
                    <h1>{{ tour.name }}</h1>
                    <h5>{{ tour.description }}</h5>
                </div>
                <div class="from-container">
                    <h6 i18n>From:</h6>
                    <p>{{ tour.from.streetName }} {{ tour.from.streetNumber }}</p>
                    <p>{{ tour.from.zipCode }} {{ tour.from.city }}, {{ tour.from.country }}</p>
                </div>
                <div class="to-container">
                    <h6 i18n>To:</h6>
                    <p>{{ tour.to.streetName }} {{ tour.to.streetNumber }}</p>
                    <p>{{ tour.to.zipCode }} {{ tour.to.city }}, {{ tour.to.country }}</p>
                </div>
                <div class="tour-distance-container">
                    <h6 i18n>Tour distance</h6>
                    <p>{{ tour.distance }}km</p>
                </div>
                <div class="time-container">
                    <h6 i18n>Estimated time</h6>
                    <p>{{ tour.estimatedTime }} hours</p>
                </div>
                <div class="transport-type-container">
                    <h6 i18n>Transport type</h6>
                    <p>{{ tour.transportType | titlecase }}</p>
                </div>
            </div>
        }
        <div class="buttons-container">
            <tour-button
                i18n-text
                text="Add log"
                color="primary"
                [primaryImage]="{
                    src: 'app/assets/svg/plus.svg',
                    alt: 'plus',
                    height: 32,
                    width: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/plus-primary.svg',
                    alt: 'plus',
                    height: 32,
                    width: 32,
                }"
                [routerLink]="['/tour-log/new', tourId]"
            ></tour-button>
            <tour-button
                i18n-text
                text="Update tour"
                color="primary"
                [primaryImage]="{
                    src: 'app/assets/svg/update.svg',
                    alt: 'update',
                    width: 41,
                    height: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/update-primary.svg',
                    alt: 'update',
                    width: 41,
                    height: 32,
                }"
                [routerLink]="['/tour/update', tourId]"
            ></tour-button>
            <tour-button
                i18n-text
                text="Export tour"
                color="secondary"
                [primaryImage]="{
                    src: 'app/assets/svg/export.svg',
                    alt: 'export',
                    width: 24,
                    height: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/export-secondary.svg',
                    alt: 'export',
                    width: 24,
                    height: 32,
                }"
                (click)="exportTour()"
            ></tour-button>
            <tour-button
                i18n-text
                text="Export tour-report"
                color="secondary"
                [primaryImage]="{
                    src: 'app/assets/svg/report.svg',
                    alt: 'report',
                    width: 24,
                    height: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/report-secondary.svg',
                    alt: 'report',
                    width: 24,
                    height: 32,
                }"
            ></tour-button>
            <tour-button
                i18n-text
                text="Export summarize-report"
                color="secondary"
                [primaryImage]="{
                    src: 'app/assets/svg/report.svg',
                    alt: 'report',
                    width: 24,
                    height: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/report-secondary.svg',
                    alt: 'report',
                    width: 24,
                    height: 32,
                }"
            ></tour-button>
            <tour-button
                i18n-text
                text="Delete tour"
                color="error"
                [primaryImage]="{
                    src: 'app/assets/svg/delete.svg',
                    alt: 'delete',
                    width: 28,
                    height: 32,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/delete-error.svg',
                    alt: 'delete',
                    width: 28,
                    height: 32,
                }"
                (click)="deleteTour()"
            ></tour-button>
        </div>
    </section>
    <section id="tour-logs">
        <search-bar
            i18n-placeholder
            placeholder="Search for tour log"
            [(value)]="searchInput"
            (valueChange)="searchTourLog()"
        ></search-bar>
        <div
            class="tour-log-list"
            infinite-scroll
            [alwaysCallback]="true"
            [infiniteScrollThrottle]="50"
            [infiniteScrollDistance]="3"
            [infiniteScrollUpDistance]="3"
            (scrolled)="onTourLogListScrollDown()"
            (scrolledUp)="onTourLogListScrollUp()"
        >
            @if (!(tourLogPages.length == 0)) {
                @for (page of tourLogPages; track page.number) {
                    @for (tourLog of page.content; track tourLog.id) {
                        <tour-log-list-item
                            [tourLog]="tourLog"
                            (deleteTourLog)="deleteTourLog(tourLog.id)"
                        ></tour-log-list-item>
                    }
                }
            } @else {
                <p i18n>No tour logs available</p>
            }
        </div>
    </section>
</div>
