<div class="container">
    <section id="sidebar">
        @if (tour$ | async; as tour) {
            <div class="tour-information">
                <div class="header">
                    <a routerLink="/"
                        ><img ngSrc="app/assets/svg/logo.svg" width="64" height="56" alt="logo"
                    /></a>
                    <h1>{{ tour.name }}</h1>
                    <h5>{{ tour.description }}</h5>
                </div>
                <div class="from-container">
                    <h6>From:</h6>
                    <p>{{ tour.from.streetName }} {{ tour.from.streetNumber }}</p>
                    <p>{{ tour.from.zipCode }} {{ tour.from.city }}, {{ tour.from.country }}</p>
                </div>
                <div class="to-container">
                    <h6>to:</h6>
                    <p>{{ tour.to.streetName }} {{ tour.to.streetNumber }}</p>
                    <p>{{ tour.to.zipCode }} {{ tour.to.city }}, {{ tour.to.country }}</p>
                </div>
                <div class="tour-distance-container">
                    <h6>Tour distance</h6>
                    <p>{{ tour.distance }}km</p>
                </div>
                <div class="time-container">
                    <h6>Estimated time</h6>
                    <p>{{ tour.estimatedTime / 60 }} hours</p>
                </div>
                <div class="transport-type-container">
                    <h6>Transport type</h6>
                    <p>{{ tour.transportType }}</p>
                </div>
            </div>
        }
        <div class="buttons-container">
            <button class="primary" type="button">
                <img ngSrc="app/assets/svg/plus.svg" alt="plus" width="32" height="32" />
                <h6>Add log</h6>
            </button>
            <button class="primary" type="button">
                <img ngSrc="app/assets/svg/update.svg" alt="update" width="41" height="32" />
                <h6>Update tour</h6>
            </button>
            <button class="secondary" type="button">
                <img ngSrc="app/assets/svg/export.svg" alt="export" width="24" height="32" />
                <h6>Export tour</h6>
            </button>
            <button class="secondary" type="button">
                <img ngSrc="app/assets/svg/report.svg" alt="report" width="24" height="32" />
                <h6>Export tour-report</h6>
            </button>
            <button class="secondary" type="button">
                <img ngSrc="app/assets/svg/report.svg" alt="report" width="24" height="32" />
                <h6>Export summarize-report</h6>
            </button>
            <button class="error" type="button" (click)="deleteTour()">
                <img ngSrc="app/assets/svg/delete.svg" alt="delete" width="28" height="32" />
                <h6>Delete tour</h6>
            </button>
        </div>
    </section>
    <section id="tour-logs">
        <div class="search-input">
            <img ngSrc="app/assets/svg/search.svg" alt="search" width="32" height="32" />
            <input id="search" type="text" placeholder="Search for tour log" />
        </div>
        <div class="tour-log-list">
            <div class="tour-log-list-item">
                <p>Started at: 16.05.2025 12:52</p>
                <p>Finished at: 16.05.2025 13:43</p>
                <p>Duration: 0:51</p>
                <p>Comment: Great view from the mountain top</p>
                <p>Distance 15km</p>
                <p>Difficulty: 3</p>
                <p>Rating: 4</p>
                <div class="update-link">
                    <a
                        >Update tour log
                        <img
                            ngSrc="app/assets/svg/arrow-right.svg"
                            alt="arrow-right"
                            width="24"
                            height="24"
                    /></a>
                </div>
                <div class="delete-link">
                    <a
                        >Delete tour log
                        <img
                            ngSrc="app/assets/svg/delete-red.svg"
                            alt="delete"
                            width="28"
                            height="32"
                        />
                    </a>
                </div>
            </div>
            <div class="tour-log-list-item">
                <p>Started at: 16.05.2025 12:52</p>
                <p>Finished at: 16.05.2025 13:43</p>
                <p>Duration: 0:51</p>
                <p>Comment: Great view from the mountain top</p>
                <p>Distance 15km</p>
                <p>Difficulty: 3</p>
                <p>Rating: 4</p>
                <div class="update-link">
                    <a
                        >Update tour log
                        <img
                            ngSrc="app/assets/svg/arrow-right.svg"
                            alt="arrow-right"
                            width="24"
                            height="24"
                        />
                    </a>
                </div>
                <div class="delete-link">
                    <a
                        >Delete tour log
                        <img
                            ngSrc="app/assets/svg/delete-red.svg"
                            alt="delete"
                            width="28"
                            height="32"
                        />
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
