<div class="tour-log-list-item">
    <p i18n>Started at: {{ tourLog().duration.startTime | date: 'dd.MM.yyyy HH:mm' }}</p>
    <p i18n>Finished at: {{ tourLog().duration.endTime | date: 'dd.MM.yyyy HH:mm' }}</p>
    <p i18n>Duration: {{ tourLog().duration.duration }} minutes</p>
    <p i18n>Comment: {{ tourLog().comment }}</p>
    <p i18n>Distance: {{ tourLog().distance }} km</p>
    <p i18n>Difficulty: {{ tourLog().difficulty }}</p>
    <p i18n>Rating: {{ tourLog().rating }}</p>

    <div class="update-link">
        <a routerLink="/tour-log/update/{{ tourLog().id }}" i18n>
            Update tour log
            <img ngSrc="app/assets/svg/arrow-right.svg" alt="arrow-right" width="24" height="24" />
        </a>
    </div>

    <div class="delete-link">
        <a (click)="this.deleteTourLog.emit()" i18n>
            Delete tour log
            <img ngSrc="app/assets/svg/delete-error.svg" alt="delete" width="28" height="32" />
        </a>
    </div>
</div>
