.container {
    display: flex;
    flex-direction: row;
}

/* Sidebar */
section#sidebar {
    width: 512px;
    padding: 32px 48px;
}

section#sidebar > a {
    display: inline-block;
}

section#sidebar > a,
div.buttons-container,
search-bar {
    margin-bottom: 32px;
}

search-bar {
    display: block;
}

/* buttons */
div.buttons-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

/* Tour list */
div.tour-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.tour-list > p {
    text-align: center;
}

/* map image */
section#map {
    position: fixed;
    left: 512px;
    width: 100%;
    height: 100vh;
}

div#map {
    height: 100vh;
}
